<template name="ads">
  <div class="row ads-container">
    <div class="ads-box text-center">
      <img src="/images/ads/royal-canin.jpg" alt="">
      <br><br>
      <p>
        At Royal Canin, we make the most precise and effective nutrition for cats and dogs based on size, age, lifestyle, breed and to address specific needs
      </p>
    </div>
  <hr>
    <div class="ads-box text-center">
      <img src="/images/ads/pedigree.jpg" alt="">
      <br><br>
      <p>
        Pedigree Petfoods is a subsidiary of the American group Mars, Incorporated specializing in pet food, with factories in England at Melton Mowbray and Birstall, Leeds; and offices at McLean, Virginia.
      </p>
    </div>
  </div>
</template>
