<template name="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6 col-login text-center">
        <img class="logo-login ui centered image" src="/images/object/1-login/logo-login.png" alt="" />
        <h3><strong>ชุมชนคนรักสัตว์ที่เชื่อถือได้</strong></h3>
        <br>
        <form class="loginForm public-login">
          <input type="text" class="form-control" name="username" placeholder="Username">
          <br>
          <input type="password" class="form-control" name="password" placeholder="Password">
          <br>
          <button type="button" class="btn col-lg-12 btn-myLogin ui button">
            <strong><h3>Log in</h3></strong>
          </button>
        </form>
        <hr>
        <br>
        {{> loginFb}}
        {{> signUp}}
        </div>
      <div class="col-lg-3"></div>
    </div>
    <div class="img-login">
      <img class="logo-login ui centered image" src="/images/object/1-login/mobile/dog-mobile.png" alt="" />
    </div>
  </div>
  <br>
  <br>
  <div class="footer">
    4legs© 2016
  </div>
</template>
