<template name="newsfeed">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        {{> postBlock}}
        <br><br>
        <!-- {{#if hasHighlight}}
          <div class="highlight-block">
            <img src="/images/object/8-highlight/highlight.png" alt="">
          </div>
          {{> postFeed highlight=true}}
        {{/if}} -->
        {{> postFeed}}
      </div>
      <div class="col-lg-3">
        <br><br>
        {{#each getAdsLimit '2'}}
          {{> adsCard}}
        {{/each}}
      </div>
    </div>
  </div>
</template>
