<template name="newsfeed">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-xs-12">
        {{> postBlock}}
        <br><br>
        <div class="feed-container">
          {{> postFeed col='one'}}
        </div>
      </div>
      <div class="col-lg-3 col-xs-12">
        <br><br>
          <div class="ui sticky card-mobile">
              {{#each getAdsLimit '2'}}
                <div class="ui raised segment">
                  {{> adsCard}}
                </div>
              {{/each}}
          </div>
      </div>
    </div>
  </div>
</template>
<!-- \\col-lg-3 col-xs-12 -->
