<template name="register">
  <nav class="navbar mynav-signup">
    <div class="container-fluid nav-signup">
      <div class="navbar-header signup-flex">
        <h3 class="text-center">ลงทะเบียนเพื่อเข้าใช้งาน</h3>
        <a class="navbar-brand" href="{{pathFor 'newsfeed'}}">
          <img class="logo" src="/images/object/1-login/logo-login.png" alt="">
        </a>
    </div>
  </div>
  </nav>
  <div class="ui basic modal term-condition-modal">
  <i class="close icon"></i>
  <div class="header">
    <h2>Term and condition</h2>
  </div>
  <div class="content term-condition-content">
    <li><h4>ผู้ที่ต้องการสมัครสมาชิก จะต้องกรอกข้อมูลที่เป็นจริงให้ครบทุกข้อเพื่อสิทธิประโยชน์ของท่าน หากตรวจสอบพบว่าท่านให้ข้อมูลเท็จ ทีมงานสี่ขามีสิทธิ์ยกเลิกการเป็นสมาชิกได้</h4></li>
    <li><h4>ผู้ใดแอบอ้างหรือกระทำการใดๆอันเป็นการละเมิดสิทธิ์ส่วนบุคคลโดยใช้ข้อมูลของผู้อื่นมาแอบอ้างสมัครสมาชิกเป็นความผิดต้องรับโทษตามที่กฎหมายกำหนดไว้</h4></li>
    <li><h4>สมาชิกจะต้องใช้นามแฝงที่เหมาะสม ไม่หยาบคาย หรือส่อไปในทางลามกอนาจาร มิฉะนั้นทีมงานมีสิทธิ์ ยกเลิกการเป็นสมาชิกได้</h4></li>
    <li><h4>ผู้สมัครต้องยินยอมให้ สี่ขา ตรวจสอบความเป็นจริงของข้อมูลการสมัครหากตรวจสอบพบว่าท่านให้ข้อมูลเท็จหรือไม่ชัดเจน ทีมงานมีสิทธิ์ยกเลิกการเป็นสมาชิกได้</h4></li>
    <li><h4>สมาชิกต้องปฏิบัติตามกฎกติกามารยาทที่ทางสี่ขาตั้งขึ้นมาอย่างเคร่งครัด เพื่อความสงบเรียบร้อย หากท่านละเมิดทีมงานสี่ขามีสิทธิ์ยกเลิกการเป็นสมาชิกได้</h4></li>
    <li><h4>ข้อมูลของสมาชิกจะถูกเก็บเป็นความลับทาง สี่ขา จะไม่เปิดเผยข้อมูลของท่านก่อนได้รับอนุญาต นอกจากจะได้รับหมายศาลหรือหนังสือราชการจากหน่วยงานสานักงานตำรวจแห่งชาติ</h4></li>
    <li><h4>ทีมงาน สี่ขา ขอสงวนสิทธิ์ในการยกเลิกความเป็นสมาชิกได้ โดยไม่ต้องบอกกล่าวให้ทราบล่วงหน้า</h4></li>
  </div>
  <div class="actions">
    <div class="ui positive right labeled icon button">
      ตกลง
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-2">
        <div class="upload-profile">
          <img src="/images/object/2-signup/profile-img.png">
        </div>
        <br>
        <div class="upload-group-profile">
          <input type="file" name="upload" id="file" class="upload-img">
          <label for="file" class="my-color-brown label-upload">
            <u>อัพโหลดรูปภาพ</u>
          </label>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="register-form">
          <form clsss="form-horizontal" action="">
            <div class="vet-block">
              คุณเป็นสัตวแพทย์ใช่หรือไม่?&nbsp;&nbsp;&nbsp;&nbsp;
              <label>
                <input class="img-check" type="checkbox" value="vet" name="vet" id="vet">
                <img src="/images/icon/check.png"/>
              </label>
                <span class="my-color-brown">&nbsp;&nbsp;ใช่แล้ว ฉันเป็นสัตวแพทย์</span>
                {{#if isVet}}
                  <br><br>
                  <div class="form-group">
                    <label for="vet-id" class="col-lg-5 control-label "><span class="reduce-font-size">เลขใบอนุญาตประกอบวิชาชีพสัตวแพทย์</span><span class="my-color-red">*</span><span class="pull-right">:</span></label>
                    <div class="col-lg-7">
                      <input type="text" class="form-control" id="vet-id" name="vet-id" placeholder="01-xxxx/2xxx" required>
                    </div>
                  </div>
                  <br><br>

                  <div class="form-group">
                    <label for="vet-info" class="control-label"><span class="reduce-font-size">ชื่อ-นามสกุล ภาษาไทย</span><span class="my-color-red">*</span><span class="pull-right">:</span></label>
                    <br>
                    <div class="col-lg-6">
                      <input type="text" id="vet-name" name="vet-name" class="form-control" placeholder="ชื่อ" required>
                    </div>
                    <div class="col-lg-6">
                      <input type="text" id="vet-lastname" name="vet-lastname" class="form-control" placeholder="นามสกุล" required>
                    </div>
                    <br>
                  </div>
                {{/if}}
            </div>

            <br><br>
            <div class="form-group">
              <label for="username" class="col-lg-3 control-label">Username<span class="my-color-red">*</span><span class="pull-right">:</span></label>
              <div class="col-lg-9">
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
            </div>
            <br><br>

            <div class="form-group">
              <label for="email" class="col-lg-3 control-label">E-mail<span class="my-color-red">*</span><span class="pull-right">:</span></label>
              <div class="col-lg-9">
                <input type="text" class="form-control" id="email" name="email" placeholder="abc@example.com" required>
              </div>
            </div>
            <br><br>

            <div class="form-group">
              <label for="password" class="col-lg-3 control-label">Password<span class="my-color-red">*</span><span class="pull-right">:</span></label>
              <div class="col-lg-9">
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
            </div>
            <br><br>

            <div class="form-group">
              <label for="re-password" class="col-lg-3 control-label">Re-Password<span class="my-color-red">*</span><span class="pull-right">:</span></label>
              <div class="col-lg-9">
                <input type="password" class="form-control" id="re-password" name="re-password" required>
              </div>
            </div>
            <br><br>

            <div class="form-group">
              <label for="birthday" class="col-lg-3 control-label">Birthday<span class="my-color-red">*</span><span class="pull-right">:</span></label>
              <div class="col-lg-9">
                <input type="text" class="form-control" id="birthday" name="birthday" placeholder="mm/dd/yyyy" required>
              </div>
            </div>
            <br><br>

            <label for="topics" class="control-label pull-left">หัวข้อที่สนใจ :</label><br><br>
              {{#each topics}}
              <div class="form-group col-lg-4">
                <label class="checkbox-inline">
                  <input type="checkbox" id="inlineCheckbox1" name="topics" value="{{value}}">
                  <img class="ui middle aligned mini image" src="{{imgUrl}}" alt="" />
                  <span>{{value}}</span>
                </label>
              </div>
              {{/each}}
          </form><br><br><br>
          <a id="term-condition" href="#"><label class="red-star">* </label>หากท่านทำการสมัคร ถือว่าท่านได้ยอมรับเงื่อนไขของทางสี่ขาแล้ว</a>
          <br>
          <div class="register-button">
            <a href="{{pathFor 'landingPage'}}">
              <button id="cancel-btn" type="button" class="btn btn-danger">ยกเลิก</button>
            </a>
            <button id="signup-btn" type="submit" class="btn my-btn-confrim disabled">ยืนยัน</button>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>

    </div>
  </div>
  <div class="img-footer-reigster">
    <img src="/images/object/2-signup/dog-word.png">
  </div>


</template>
