<template name="mainTopics">
    <div class="col-lg-1 topics-left-panel">
      <div class="row">
        <div class="topics-menu">
            <div id="vet-article" class="topics-menu-item text-center {{isMenuActive 'vetArticle'}}">
              <img src="/images/object/6-topics/bone.png" alt="vet article">
              <h4>Vet Article</h4>
            </div>
            <div id="sos" class="topics-menu-item text-center {{isMenuActive 'sos'}}" >
              <img src="/images/object/6-topics/bone.png" alt="sos">
              <h4>SOS</h4>
            </div>
            <div id="news" class="topics-menu-item text-center {{isMenuActive 'news'}}">
              <img src="/images/object/6-topics/bone.png" alt="news">
              <h4>News</h4>
            </div>
            <div id="pet-story" class="topics-menu-item text-center {{isMenuActive 'petStory'}}">
              <img src="/images/object/6-topics/bone.png" alt="petStory">
              <h4>Pet Story</h4>
            </div>
            <div id="qna" class="topics-menu-item text-center {{isMenuActive 'qna'}}">
              <img src="/images/object/6-topics/bone.png" alt="qna">
              <h4>Q&A</h4>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-10 topics-center-panel">
      {{> Template.dynamic template=topicsContainer }}
    </div>
    <div class="col-lg-1 topics-right-panel hidden-xs">
        <div class="catagory">
          <p class="">Pets</p>
          <div id="topics-dog" class="catagory-item"></div>
          <div id="topics-cat" class="catagory-item"></div>
          <div id="topics-pocket" class="catagory-item"></div>
          <div id="topics-bird" class="catagory-item"></div>
          <div id="topics-turtle" class="catagory-item"></div>
          <div id="topics-fish" class="catagory-item"></div>
          <div id="topics-other" class="catagory-item"></div>
        </div>
    </div>
</template>
