<template name="mainTopics">
  <div class="main-topic">
    <div class="col-lg-1 col-md-1 topics-left-panel">
      <div class="row">
        <div class="topics-menu margin-topic">
            <div id="vet-article" class="topics-menu-item text-center {{isMenuActive 'vetArticle'}}">
              <img src="/images/object/6-topics/article-hover.png" alt="vet article">
            </div>
            <div id="sos" class="topics-menu-item text-center {{isMenuActive 'sos'}}" >
              <img src="/images/object/6-topics/sos-hover.png" alt="sos">
            </div>
            <div id="news" class="topics-menu-item text-center {{isMenuActive 'news'}}">
              <img src="/images/object/6-topics/news-hover.png" alt="news">
            </div>
            <div id="pet-story" class="topics-menu-item text-center {{isMenuActive 'petStory'}}">
              <img src="/images/object/6-topics/story-hover.png" alt="petStory">
            </div>
            <div id="qna" class="topics-menu-item text-center {{isMenuActive 'qna'}}">
              <img src="/images/object/6-topics/q&a-hover.png" alt="qna">
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-10 topics-center-panel">
      {{> Template.dynamic template=topicsContainer }}
    </div>
    <div class="col-lg-1 topics-right-panel res-row">
        <div class="catagory">
          <p class="hidden-xs">Pets</p>
          {{#each petIcon}}
            <div id="{{catagoryItemId label}}" class="catagory-item" data-animaltype='{{label}}'>
            </div>
          {{/each}}
        </div>
    </div>
  </div>
</template>
