@import "colors"

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(max-width: 768px)";

@media #{$mobile}
  .mynav-main
    height: 3.9em
  .logo
    width: auto
    height: 200%
    margin-left: -0.5em
    z-index: 2
  .nav-button-border
    border: 2px solid #F8A02E
    margin-top: 1em
    &:focus
      background-color: $orange-background
      .icon-bar
        background-color: #fff
  .icon-bar
    background-color: #F8A02E
  .navbar-brand
    width: 12em
  .nav-layer
    width: 70%
    font-size: 50px
    line-height: 0
    border-bottom: 54px solid $orange-background
    border-right: 35px solid #FFF
    z-index: -100
    margin-top: -1px
    margin-left: -1px
    position: absolute
  ul.nav
    display: flex
    flex-flow: row
    padding-top: 0.5em
    padding-bottom: 0.5em
    background-color: #FFF

  .menu-icon
    width: 100%
    height: auto
    padding-top: 1em
    font-size: 11px
  .icon
    height: 2em
  .anchor-navbar
    height: 1em
  .navbar-nav
    margin-top: 0
  #location-right-side
    width: 100%
  .topics-left-panel
    width: 100%
    height: 5em
    margin-left: 0.1em
  .topics-menu-item
    width: 20%
    height: 5em
    img
      width: 100%
      height: 100%
      margin-top: 0em
  .topics-menu
    width: 100%
  .topics-center-panel
    height: 0em
    margin-top: 4.5em
  .margin-topic
    margin-top: 0em
    display: flex
    flex-direction: row
  .resizeFont
    font-size: 13px
    line-height: 15px
  .sos-identify
    margin-top: 1em
  .sos-form
    .form-control
      width: 100%
      margin-bottom: 0.5em
    .btn-success
      width: 80%
      margin-left: 1.5em
  .profile-picture
    margin-left: 3.5em
  .topics-menu-box
    margin-top: 0.5em
  .menu-item-mobile
    width: 4.5em
    .active
      background-color: #F8A02E
  .navbar-right
    li
      a
        &:focus
          color: #fff
          background-color: #F8A02E
  .catagory
    display: flex
    flex-direction: row
    justify-content: space-around
    margin-top: -4em
    margin-left: 0
    position: relative
  .catagory-item
    width: 4em
    margin-right: -0.8em
  .dropdown-menu
    min-width: 8em
    margin-left: -3.5em
    li
      a
        margin-left: -1em
  .navbar-nav
    .open
      .dropdown-menu
        background-color: #fff
        &:focus
          background-color: #F8A02E
  .admin-nav-item
    .admin-nav-label
      color: #000
  .admin-navigator
    .colorSpan
      .icon-bar
        border: 2px solid #fff
    &:focus
      background-color: $orange-background
      .icon-bar
        background-color: #fff
  .adminVet-head-left-topic
    margin-top: 6em
    label
      font-size: 18px
  .adminVet-head-right-topic
    label
      font-size: 18px
  .adminNews
    margin-left: 1.1em
  .admin-pets-type
    height: 3em
    display: flex
    justify-content: space-around
  .admin-catagory
    .admin-pet-text
      visibility: hidden
      margin-left: -2em
    .admin-catagory-item
      img
        width: auto
        height: 3em
        margin-left: 0.2em
  .adminVet-search
    margin-right: 0.5em
    visibility: hidden
    .form-control
      width: 18em
  .adminAds-body
    display: flex
    flex-direction: column
  .adminAds-card-create
    margin-top: 3.5em
    margin-left: 0.4em
    height: 8em
    img
      margin-top: 0
  .ads-card
    margin-left: 0.4em
    img
  .btn-myLogin
    width: 100%
  #facebook-login
    margin-top: -14em
    width: 100%
    text-align: center
    i
      margin-left: 2.7em
  #btn-signUp
    margin-top: -5.2em
    width: 100%
  .inMobile
    margin-right: 5.5em
