@import "colors"

$tablet: "(min-width: 751px) and (max-width: 992px)"
$mobile: "(min-width: 310px) and (max-width: 750px)"

@media #{$mobile}
  .mynav-main
    height: 3.9em
  .logo
    width: auto
    height: 200%
    margin-left: -0.5em
    z-index: 2
  .nav-button-border
    border: 2px solid #F8A02E
    margin-top: 1em
    &:focus
      background-color: $orange-background
      .icon-bar
        background-color: #fff
  .icon-bar
    background-color: #F8A02E
  .navbar-brand
    width: 12em
  .nav-layer
    width: 70%
    font-size: 50px
    line-height: 0
    border-bottom: 54px solid $orange-background
    border-right: 35px solid #FFF
    z-index: -100
    margin-top: -1px
    margin-left: -1px
    position: absolute
  ul.nav
    display: flex
    flex-flow: row
    padding-top: 0.5em
    padding-bottom: 0.5em
    background-color: #FFF

  .menu-icon
    width: 100%
    height: auto
    padding-top: 1em
    font-size: 11px
  .icon
    height: 2em
  .anchor-navbar
    height: 1em
  .navbar-nav
    margin-top: 0
  #location-right-side
    width: 100%
  .topics-left-panel
    width: 100%
    height: 5em
    margin-left: 0.1em
  .topics-menu-item
    width: 20%
    height: 5em
    img
      width: 100%
      height: 100%
      margin-top: 0em
  .topics-menu
    width: 100%
  .topics-center-panel
    height: 0em
    margin-top: 4.5em
  .margin-topic
    margin-top: 0em
    display: flex
    flex-direction: row
  .resizeFont
    font-size: 13px
    line-height: 15px
  .sos-identify
    margin-top: 1em
    margin-bottom: 6em
  .sos-form
    .form-control
      width: 100%
      margin-bottom: 0.5em
    .btn-success
      width: 80%
      margin-left: 1.5em
  .topics-menu-box
    margin-top: 0.5em
  .menu-item-mobile
    width: 4.5em
    .active
      background-color: #F8A02E
  .catagory
    display: flex
    flex-direction: row
    justify-content: space-around
    margin-top: -4em
    margin-left: 0
    position: relative
  .catagory-item
    width: 4em
    margin-right: -0.8em
  .dropdown-menu
    min-width: 8em
    margin-left: -3.5em
    li
      a
        margin-left: -1em
  .navbar-nav
    .open
      .dropdown-menu
        background-color: #fff
        &:focus
          background-color: #F8A02E
  .admin-nav-item
    .admin-nav-label
      color: #000
  .admin-navigator
    .colorSpan
      .icon-bar
        border: 2px solid #fff
    &:focus
      background-color: $orange-background
      .icon-bar
        background-color: #fff
  .adminVet-head-left-topic
    margin-top: 6em
    label
      font-size: 18px
  .adminVet-head-right-topic
    label
      font-size: 18px
  .adminNews
    margin-left: 1.1em
  .admin-pets-type
    height: 3em
    display: flex
    justify-content: space-around
  .admin-catagory
    .admin-pet-text
      visibility: hidden
      margin-left: -2em
    .admin-catagory-item
      img
        width: auto
        height: 3em
        margin-left: 0.2em
  .adminVet-search
    margin-right: 0.5em
    visibility: hidden
    .form-control
      width: 18em
  .adminAds-body
    display: flex
    flex-direction: column
  .adminAds-card-create
    margin-top: 1em
    margin-left: 2.5em
    height: 8em
    img
      margin-top: 0
  .ads-card
    margin-left: 2.5em
  .public-login
     .btn-myLogin
        margin-left: 0
        width: 100%
  #facebook-login
    margin-top: -14em
    width: 100%
    text-align: center
    i
      margin-left: 2.7em
  #btn-signUp
    margin-top: -5.2em
    width: 100%
  .inMobile
    margin-right: 5.5em
  .container-fluid
    .navbar-header
      margin-right: 0
  .navbar-right
    display: flex
    justify-content: space-around
    .active
      height: 5.7em
    li
      a
        &:focus
          color: #fff
          background-color: #F8A02E
  .profile-picture-large
    margin-left: 3em
  .col-login
    padding-top: 0em
    margin-left: 0em
  .col-login-admin
    padding-top: 0em
    margin-left: 0em
  .btn-myLogin
    margin-left: 0
  .btn-facebook
    margin-left: 0
  #btn-signUp
    margin-right: 0
  .nav-signup
    h3
      margin-top: 1em
      margin-left: -15em
    a
      margin-top: 0
      margin-right: 13em
  .upload-profile
    margin-left: auto
    margin-right: auto
    width: 6em
    height: 6em
    border: 1px solid #AAA
    img
      width: auto
      height: 6em
    .preview-img
      border: 1px solid #AAA
      width: 6em
      height: 6em
      margin-left: 10.5em
  .edit-upload-profile
    margin-left: auto
    margin-right: auto
    width: 10em
    height: 10em
    border: 1px solid #AAA
    img
      width: 10em
      height: 10em
    .preview-img
      border: 1px solid #AAA
      width: 10em
      height: 10em
      margin-left: 10.5em
  .upload-group-profile
    margin-left: 8.8em
  .register-form
    margin-top: 1em
  .img-footer-reigster
    img
      width: auto
      height: 8em
      position: relative
      margin-top: -208.5em
  .topics-container
    margin-top: 1em
  .news-mobile
    margin-bottom: 7em
  .back-margin
    margin-left: 0
  .direct-margin
    margin-right: 0
  .head-selected-location
    width: 100%
    display: flex
    justify-content:space-between
    padding-left: 1em
    padding-right: 1em
  .text-nav
    margin-left: -1em
  .location-button
    display: flex
    justify-content: center
    flex-flow: row-reverse
  .sos-form
    display: flex
    flex-flow: column
    justify-content: center
  .img-sos
    display: flex
    justify-content: center
  .notify-item
    display: flex
    flex-flow: row
  .notify-body
    margin-right: 1em
    span
      font-size: 18px
  .profile-left-panel
    background-color: #FFF3E0
    height: 60vh
  .edit-profile-picture
    padding-left: 1em
    margin-top: -6em
  .edit-profile
    button
      width: 100%
  .profile-picture-large
    width: 10em
    height: 10em
  .badges
    margin-top: -5em
  .badge-item
    display: flex
    flex-flow: column-reverse
    .badge-img
      width: auto
      height: 3em
    span
      margin-left: auto
      margin-right: auto
  #dog
    span
      margin-left: auto
      margin-right: auto
  #bird
    span
      margin-left: auto
      margin-right: auto
  .img-badge-group
    display: flex
    flex-flow: row
  .logo-login
    margin-left: 3.5em
    margin-top: 1em
  .admin-head-text
    margin-left: -1em
    margin-top: 1em
  .adminVet-body
    margin-top: -5em
  .adminNews
    .admin-head-text
      margin-left: -2em
      margin-top: 1em
  .content
    .justify-icon
      margin-left: 0
      padding-left: 0
      padding-right: 0
      margin-left: -1em
  .justify-icon
    display: flex
    justify-content: space-between
    height: 1em
    width: 100%
    padding-left: 0
    padding-right: 0
  .justify-item
    display: flex
    flex-flow: row
    margin-left: 1.5em
    img
      width: 1em
      height: 1em
  .ads-card
    margin-left: 0.5em
  .addfollow-header
    display: flex
    flex-flow: column
    height: 6em
    input
      width: 70%
      margin-left: auto
      margin-right: auto
      margin-bottom: 0.6em
  .group-addfollow
    height: 6em
    display: flex
    flex-flow: row
    button
      margin-top: -5em

  .item-addfollow


  .feedback-textarea
    width: 24em
    textarea
      display: flex
      justify-content: center
      height: 5em
  .location-orders
    margin-top: 2em
  .button-card-following
    height: 3em
    display: flex
    justify-content: flex-end
    i
      margin-top: -4em
  .card-following
    width: 90%
@media #{$tablet}
  .button-card-following
    height: 3em
    display: flex
    justify-content: flex-end
    i
      margin-top: -3em
    img
      margin-top: 1em
  .loginForm
    width: 70%
    margin-left: auto
    margin-right: auto
    input[type=checkbox]
      width: 1.5em
      height: 1.5em
      margin-left: 1.8em
    input[type=checkbox]+label
      font-size: 24px
  .public-login
     .btn-myLogin
        margin-left: 0
  .col-login
    margin-left: 0
    hr
      margin-top: -4em
    h1
      margin-top: 2em

    h4
      margin-top: 3em
    a
      margin-right: 1em
  .col-login-admin
    margin-left: 0
    hr
      margin-top: -4em
    h1
      margin-top: 2em

    h4
      margin-top: 3em
    a
      margin-right: 1em
  .btn-facebook
    margin-left: 5em
    width: 18em
  #btn-signUp
    margin-right: 9.5em
    width: 10em
    h3
      margin-left: 1em
  #location-right-side
    width: 100%
  .back-margin
    margin-left: 1em
  .upload-profile
    margin-left: auto
    margin-right: auto
    width: 12em
    height: 12em
    border: 1px solid #AAA
    img
      width: auto
      height: 12em
    .preview-img
      border: 1px solid #AAA
      width: 12em
      height: 12em
      margin-left: 20.8em
  .topics-menu
    width: 100%
    display: flex
    flex-flow: row
    align-items: flex-start
  .topics-menu-item
    img
      height: 8em
      margin-top: 0
  .topics-center-panel
    margin-top: 13em
  .catagory
    display: flex
    flex-flow: row
    position: sticky
    top: 13em
  .catagory-item
    margin-left: 1em
  .profile-left-panel
    background-color: #FFF3E0
    height: 50vh
  .edit-profile-picture
    padding-left: 1em
  .profile-picture-large
    width: 20em
    height: 20em
  .justify-icon
    display: flex
    justify-content: space-between
    height: 1.5em
    width: 100%
    padding-left: 3em
    padding-right: 3em
  .justify-item
    display: flex
    flex-flow: row
    img
      width: 2em
      height: 2em
