<template name="aboutMe">
  <div class="row edit-section">
    {{> Template.dynamic template=aboutMeContainer data=this}}
  </div>
  <div class="text-center">
    <img class="feet-line" src="/images/object/7-profile/feet.png" alt="">
  </div>
  <div class="row badges">
    <h4>Badges จากการติดตามเพื่อนที่เลี้ยงสัตว์</h4><br>
    <div class="col-lg-6">
      <div class="badge-item" id="dog">
        <div class="img-badge-group">
          <img data-content="Badge Follow เพื่อนที่เลี้ยงสัตว์เลี้ยงประเภทสุนัข" data-position="left center" class="badge-img head-badge-popup" src="/images/object/2-signup/dog.png" alt="" />
          <img data-content="Follow 1 คน" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-02.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 10 คน" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-02.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 100 คน" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-02.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">สุนัข</span>
      </div>
      <br>
      <div class="badge-item" id="pocket">
        <div class="img-badge-group">
          <img data-content="Badge Follow เพื่อนที่เลี้ยงสัตว์เลี้ยงประเภท Pocket pets" data-position="left center" class="badge-img head-badge-popup head-badge-popup custome-badge" src="/images/object/2-signup/petpocket.png" alt="" />
          <img data-content="Follow 1 คน" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-08.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 10 คน" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-08.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 100 คน" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-08.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">Pocket Pets</span>
      </div>
      <br>
      <div class="badge-item" id="reptile">
        <div class="img-badge-group">
          <img data-content="Badge Follow เพื่อนที่เลี้ยงสัตว์เลี้ยงประเภทสัตว์เลื้อยคลาน" data-position="left center" class="badge-img head-badge-popup custome-badge" src="/images/object/2-signup/turtle.png" alt="" />
          <img data-content="Follow 1 คน" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-14.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 10 คน" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-14.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 100 คน" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-14.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">สัตว์เลื้อยคลาน</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="badge-item" id="cat">
        <div class="img-badge-group">
          <img data-content="Badge Follow เพื่อนที่เลี้ยงสัตว์เลี้ยงประเภทแมว" data-position="left center" class="badge-img head-badge-popup custome-badge" src="/images/object/2-signup/cat.png" alt="" />
          <img data-content="Follow 1 คน" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-05.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 10 คน" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-05.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 100 คน" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-05.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">แมว</span>
      </div>
      <br>
      <div class="badge-item" id="fish">
        <div class="img-badge-group">
          <img data-content="Badge Follow เพื่อนที่เลี้ยงสัตว์เลี้ยงประเภทปลา" data-position="left center" class="badge-img head-badge-popup custome-badge" src="/images/object/2-signup/fish.png" alt="" />
          <img data-content="Follow 1 คน" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-17.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 10 คน" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-17.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 100 คน" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-17.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">ปลา</span>
      </div>
      <br>
      <div class="badge-item" id="bird">
        <div class="img-badge-group">
          <img data-content="Badge Follow เพื่อนที่เลี้ยงสัตว์เลี้ยงประเภทนก" data-position="left center" class="badge-img head-badge-popup custome-badge" src="/images/object/2-signup/bird.png" alt="" />
          <img data-content="Follow 1 คน" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-11.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 10 คน" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-11.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Follow 100 คน" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-11.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">นก</span>
      </div>
      <br>
    </div>
  </div>

  <div class="row badges">
    <h4>Badges จากการร่วมกิจกรรม</h4><br>
    <div class="col-lg-6">
      <div class="badge-item" id="">
        <div class="img-badge-group">
          <img data-content="Badge Check In เมื่อทำการ Check in สถานที่ใดๆครบตามเงื่อนไข" data-position="left center" class="badge-img head-badge-popup" src="/images/object/7-profile/loc.png" alt="" style="margin-right: 2em;"/>
          <img data-content="5 ครั้ง" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="20 ครั้ง" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="50 ครั้ง" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">Check in</span>
      </div>
      <br>
      <div class="badge-item" id="">
        <div class="img-badge-group">
          <img data-content="Badge New Location เมื่อมีการสร้าง Location ใหม่ขึ้นมาบนแผนที่" data-position="left center" class="badge-img head-badge-popup custome-badge" src="/images/object/2-signup/shop-03.png" alt="" />
          <img data-content="5 ครั้ง" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-26.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="20 ครั้ง" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-26.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="50 ครั้ง" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-26.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">New location</span>
      </div>
      <br>
      <div class="badge-item" id="">
        <div class="img-badge-group">
          <img data-content="Badge เฉพาะกิจ ได้ตามโอกาสและกิจกรรมพิเศษ" data-position="left center" class="badge-img head-badge-popup custome-badge" src="/images/object/7-profile/event-04.png" alt="" />
          <img data-content="Badge เฉพาะกิจ Event" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-20-bw.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Badge เฉพาะกิจ Celeb (สำหรับเจ้าของที่มีสัตว์เลี้ยงของตัวเองแล้วมีชื่อเสียง)" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-21-bw.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="Coming Soon" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">Event</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="badge-item" id="">
        <div class="img-badge-group">
          <img data-content="Badge กระจายข่าวความช่วยเหลือ" data-position="left center" class="badge-img head-badge-popup custome-badge" src="/images/object/7-profile/sos.png" alt="" />
          <img data-content="5 ครั้ง" data-position="left center" data-variation="inverted" src="/images/object/7-profile/badges/badge-23.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="20 ครั้ง" data-position="top center" data-variation="inverted" src="/images/object/7-profile/badges/badge-23.png" alt="" class="img-circle badge-img badge-medal">
          <img data-content="50 ครั้ง" data-position="right center" data-variation="inverted" src="/images/object/7-profile/badges/badge-23.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">SOS</span>
      </div>
    </div>
  </div>

  <div class="text-center">
    <img class="feet-line" src="/images/object/3-news feed/feet-left.png" alt="">
  </div>
<!-- Following Section -->
  <div class="row follow following">
    <h4>Following ({{profile.following.length}})</h4>
    <div class="ui three stackable cards card-following">
      {{#each showAllFollowing _id}}
        <div class="card">
          <div class="ui two column doubling grid container group-addfollow">
            <div class="column item-addfollow">
              <div class="ui left aligned container">
                <a href="{{pathFor 'profile' id=_id}}" class="profile-card-following">
                  <img src="{{profilePicture _id}}" class="img-circle follow-picture" alt="">
                  <span class="my-color-brown follow-text"><b>{{this.username}}</b></span>
                </a>
              </div>
            </div>
            <div class="column item-addfollow">
              <div class="button-card-following">
                <i id={{_id}} class="fa fa-minus-circle fa-lg my-btn-unfollow unfollow-btn pull-right"></i>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
<!--  End following section-->

<!-- Follower section -->
<div class="row follow follower">
  <h4>Followers ({{profile.followers.length}})</h4>
  <div class="ui three stackable cards card-following">
    {{#each showAllFollowers _id}}
      <div class="card">
        <div class="ui two column doubling grid container group-addfollow">
          <div class="column item-addfollow">
            <div class="ui left aligned container">
              <a href="{{pathFor 'profile' id=_id}}" class="profile-card-following">
                <img src="{{profilePicture _id}}" class="img-circle follow-picture" alt="">
                <span class="my-color-brown follow-text"><b>{{this.username}}</b></span>
              </a>
            </div>
          </div>
          <div class="column item-addfollow">
            <div class="button-card-following">
              <i id={{_id}} class="fa fa-minus-circle fa-lg my-btn-unfollow unfollow-btn pull-right"></i>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<!--  End Follower section-->

</template>
