<template name="aboutMe">
  <div class="row edit-section">
    {{> Template.dynamic template=aboutMeContainer data=this}}
  </div>
  <div class="text-center">
    <img class="feet-line" src="/images/object/7-profile/feet.png" alt="">
  </div>
  <div class="row badges">
    <h4>Badges จากการติดตามเพื่อนที่เลี้ยงสัตว์</h4><br>
    <div class="col-lg-6">
      <div class="badge-item" id="dog">
        <div class="img-badge-group">
          <img class="badge-img" src="/images/object/2-signup/dog.png" alt="" />
          <img src="/images/object/7-profile/badges/badge-02.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-02.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-02.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">สุนัข</span>
      </div>
      <br>
      <div class="badge-item" id="pocket">
        <div class="img-badge-group">
          <img class="badge-img custome-badge" src="/images/object/2-signup/petpocket.png" alt="" />
          <img src="/images/object/7-profile/badges/badge-08.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-08.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-08.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">Pocket Pets</span>
      </div>
      <br>
      <div class="badge-item" id="reptile">
        <div class="img-badge-group">
          <img class="badge-img custome-badge" src="/images/object/2-signup/turtle.png" alt="" />
          <img src="/images/object/7-profile/badges/badge-14.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-14.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-14.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">สัตว์เลื้อนคลาน</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="badge-item" id="cat">
        <div class="img-badge-group">
          <img class="badge-img custome-badge" src="/images/object/2-signup/cat.png" alt="" />
          <img src="/images/object/7-profile/badges/badge-05.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-05.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-05.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">แมว</span>
      </div>
      <br>
      <div class="badge-item" id="fish">
        <div class="img-badge-group">
          <img class="badge-img custome-badge" src="/images/object/2-signup/fish.png" alt="" />
          <img src="/images/object/7-profile/badges/badge-17.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-17.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-17.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">ปลา</span>
      </div>
      <br>
      <div class="badge-item" id="bird">
        <div class="img-badge-group">
          <img class="badge-img custome-badge" src="/images/object/2-signup/bird.png" alt="" />
          <img src="/images/object/7-profile/badges/badge-11.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-11.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-11.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">นก</span>
      </div>
      <br>
    </div>
  </div>


  <div class="row badges">
    <h4>Badges จากการร่วมกิจกรรม</h4><br>
    <div class="col-lg-6">
      <div class="badge-item" id="">
        <div class="img-badge-group">
          <img class="badge-img" src="/images/object/7-profile/loc.png" alt="" style="margin-right: 2em;"/>
          <img src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">Check in</span>
      </div>
      <br>
      <div class="badge-item" id="">
        <div class="img-badge-group">
          <img class="badge-img custome-badge" src="/images/object/2-signup/shop-03.png" alt="" />
          <img src="/images/object/7-profile/badges/badge-26.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-26.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-26.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text">New location</span>
      </div>
      <br>
      <div class="badge-item" id="">
        <div class="img-badge-group">
          <img class="badge-img custome-badge" src="/images/object/7-profile/event-04.png" alt="" />
          <img src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-30.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">Event</span>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="badge-item" id="">
        <div class="img-badge-group">
          <img class="badge-img custome-badge" src="/images/object/7-profile/sos.png" alt="" />
          <img src="/images/object/7-profile/badges/badge-23.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-23.png" alt="" class="img-circle badge-img badge-medal">
          <img src="/images/object/7-profile/badges/badge-23.png" alt="" class="img-circle badge-img badge-medal">
        </div>
        <br>
        <span class="badge-text short-text">SOS</span>
      </div>
    </div>
  </div>

  <div class="text-center">
    <img class="feet-line" src="/images/object/3-news feed/feet-left.png" alt="">
  </div>
<!-- Following Section -->
  <div class="row follow following">
    <h4>Following ({{profile.following.length}})</h4>
    <div class="follow-block col-lg-12">
      <table class="table">
        <tr>
          {{#each showAllFollowing _id}}
          <td class="col-lg-4">
              <a href="{{pathFor 'profile' id=_id}}">
                <img src="{{profilePicture _id}}" class="img-circle follow-picture" alt="">
              <span class="my-color-brown follow-text"><b>{{this.username}}</b></span>
              </a>
              <i id={{_id}} class="fa fa-minus-circle fa-lg my-btn-unfollow unfollow-btn pull-right"></i>
          </td>
          {{/each}}
        </tr>
      </table>
    </div>
  </div>
<!--  End following section-->

<!-- Follower section -->
<div class="row follow follower">
  <h4>Followers ({{profile.followers.length}})</h4>
  <div class="follow-block col-lg-12">
    <table class="table">
      <tr>
        {{#each showAllFollowers _id}}
        <td class="col-lg-4">
            <a href="{{pathFor 'profile' id=_id}}">
              <img src="{{profilePicture _id}}" class="img-circle follow-picture" alt="">
            <span class="my-color-brown follow-text"><b>{{this.username}}</b></span>
            </a>
            <i id={{_id}} class="fa fa-minus-circle fa-lg unfollow-btn pull-right"></i>
        </td>
        {{/each}}
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
<!--  End Follower section-->

</template>
