<template name="adminLayout">
  <div class="admin-navigator">
    <img class="admin-logo" src="/images/object/logo.png" alt="">
    <div class="admin-nav-items pull-right">
      <div id="adminVet" class="admin-nav-item">
        <label id="adminVet" class="admin-nav-label">Verify Vet</label>
      </div>
      <!-- <div id="adminLocation" class="admin-nav-item">
        <label id="adminLocation" class="admin-nav-label">Location</label>
      </div> -->
      <div id="adminNews" class="admin-nav-item">
        <label id="adminNews" class="admin-nav-label">News</label>
      </div>
      <div id="adminHighlight" class="admin-nav-item">
        <label id="adminHighlight" class="admin-nav-label">Highlight</label>
      </div>
      <div id="adminAds" class="admin-nav-item">
        <label id="adminAds" class="admin-nav-label">Advertisment</label>
      </div>
      <!-- <div id="adminNotification" class="admin-nav-item">
        <label class="admin-nav-label">Notification</label>
      </div> -->
      <div id="adminLogOut" class="admin-nav-item">
        <label id="adminLogOut" class="admin-nav-label">Logout</label>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {{> yield}}
  </div>
</template>
