<template name="superuser">
  {{> Template.dynamic template=superuserContainer}}
</template>

<template name="adminNews">
  <div class="row adminNews">
    <div class="col-lg-2 admin-head">
      <span class="admin-head-text">News</span>
    </div>
    <div id="about-pet" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='about-pet'}}">About Pet</div>
    <div id="pet-technology" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='pet-technology'}}">Pet Technology</div>
    <div id="pet-event" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='pet-event'}}">Pet Event</div>
    <div id="review" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='review'}}">Review</div>
    <div id="pet-health" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='pet-health'}}">Pet Health</div>
  </div>
  <div class="row admin-pets-type">
    <div class="admin-pet-text">Pets</div>
    <div class="admin-catagory">

    </div>
  </div>
  <div class="admin-post-section">
    <br>
    {{> postBlock}}
    <br>
    {{> postFeed type="about-pet"}}
  </div>
</template>
