<template name="superuser">
  {{> Template.dynamic template=superuserContainer}}
</template>


<!-- AdminVet -->
<template name="adminVet">
  <div class="adminVet">
    <div class="admin-head">
      <span class="admin-head-text">สัตวแพทย์</span>
      <div class="adminVet-search pull-right">
        <form class='form-inline'>
          <i class="fa fa-search fa-2x"></i>
          <input type="text" class="form-control">
        </form>
      </div>
      <div class="adminVet-body row">
        <div class="col-lg-6 adminVet-verified withOutPadding">
          <div class="adminVet-head-left-topic">
            <label>ได้รับการยืนยันตัวตนแล้ว ({{getNumberVerifiedVet}})</label>
          </div>
          {{#each getVerifiedVet}}
            {{> adminVetItem}}
          {{/each}}
        </div>
        <div class="col-lg-6 adminVet-waiting withOutPadding">
          <div class="adminVet-head-right-topic">
            <label>รอการอนุมัติ ({{getNumberWaitingVet}})</label>
          </div>
          {{#each getVet}}
            {{> adminVetItem}}
          {{/each}}
        </div>
      </div>
  </div>
</div>

</template>



<!-- AdminLocation -->
<template name="adminLocation">
  <div class="admin-location">
    <div class="admin-head">
      <span class="admin-head-text">สถานประกอบการ</span>
      <div class="adminVet-search pull-right">
        <form class='form-inline'>
          <i class="fa fa-search fa-2x"></i>
          <input type="text" class="form-control">
        </form>
      </div>
      <div class="admin-location-body row">
        <div class="col-lg-4 adminVet-verified withOutPadding">
          <div class="admin-location-head-left-topic">
            <label>ได้รับการยืนยันแล้ว ({{getNumberVerifiedLocation}})</label>
          </div>
          {{#each getVerifiedLocation}}
            {{> adminLocationItem}}
          {{/each}}
        </div>
        <div class="col-lg-4 admin-location-waiting withOutPadding">
          <div class="admin-location-head-center-topic">
            <label>รอการอนุมัติ ({{getNumberWaitingLocation}})</label>
          </div>
          {{#each getWaitingLocation}}
            {{> adminLocationItem}}
          {{/each}}
        </div>
        <div class="col-lg-4 adminVet-waiting withOutPadding">
          <div class="admin-location-head-right-topic">
            <label>การโปรโมท ({{getNumberPromotingLocation}})</label>
          </div>
          {{#each getPromotingLocation}}
            {{> adminLocationItem}}
          {{/each}}
        </div>
      </div>
  </div>
</div>

</template>

<!-- Item Admin Location -->
<template name="adminLocationItem">
  <div id="{{_id}}" class="admin-location-item-block col-lg-12 ui attached segment">
    <div class="border-location">
      <img id="{{_id}}" src="{{getImage photos._id}}" class="adminVet-profile-picture img-circle" alt="">
      <div class="admin-location-detail-group">
        <div id="{{_id}}" class="admin-location-name">
          {{locationName}}
          <br>
        </div>
        <div id="{{_id}}" class="admin-location-detail">
          <p id="{{_id}}">
            {{owner.ownerName}}
            <br>
            {{owner.ownerTel}}
            <br>
            {{owner.ownerEmail}}
            <br>
          </p>
        </div>
      </div>
    </div>
  </div>
  {{#with buttonState this}}
  <div class="btn-verify-location">
    <button data-id="{{_id}}" id="{{idName}}" class="fluid ui bottom attached {{color}} basic button" tabindex="0">{{content}}</button>
  </div>
  {{/with}}
</template>


<!-- Admin Articla -->
<template name="adminArticle">
  <div class="row adminArticle">
    <div class="col-lg-2 admin-head">
      <span class="admin-head-text">Article</span>
    </div>
    <div id="basic-pet-care" class="topics-menu-box text-center col-lg-4 icon-topic-menubox
    {{isBoxActive container='adminArticleContainer' location='basic-pet-care'}}">
      <img src="/images/object/6-topics/BasicPetCare.png" alt="Basic Pet Care">Basic Pet Care
    </div>
    <div id="disease-and-prevention" class="topics-menu-box text-center col-lg-4 icon-topic-menubox
    {{isBoxActive container='adminArticleContainer' location='disease-and-prevention'}}">
      <img src="/images/object/6-topics/DiseaseAndPrevention.png" alt="Desease and Prevention">Disease and Prevention
    </div>
    <div id="vet-story" class="topics-menu-box text-center col-lg-4 icon-topic-menubox
    {{isBoxActive container='adminArticleContainer' location='vet-story'}}">
      <img src="/images/object/6-topics/VetStory.png" alt="Vet Story">Vet Story
    </div>
  </div>
  <div class="row admin-pets-type">
    <div class="admin-catagory">
      <div class="admin-pet-text">Pets </div>
      {{#each petImgs}}
        <div id="{{label}}" class="admin-catagory-item">
          <img src="{{passiveUrl}}" name="{{label}}">
        </div>
      {{/each}}
    </div>
  </div>
  <div class="admin-post-section">
    <br>
    {{> postBlockAdmin}}
    <br>
    {{> postFeed type=adminArticleContainer col='three'}}
  </div>
</template>


<!-- AdminNews -->
<template name="adminNews">
  <div class="row adminNews">
    <div class="col-lg-2 admin-head">
      <span class="admin-head-text">News</span>
    </div>
    <div id="about-pet" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='about-pet'}} icon-topic-menubox">
    <img src="/images/object/6-topics/AboutPet.png" alt="About Pet">About Pet</div>
    <div id="pet-technology" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='pet-technology'}} icon-topic-menubox">
    <img src="/images/object/6-topics/PetTechnology.png" alt="Pet Technology">Pet Technology</div>
    <div id="pet-event" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='pet-event'}} icon-topic-menubox">
    <img src="/images/object/6-topics/PetEvent.png" alt="Pet Event">Pet Event</div>
    <div id="review" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='review'}} icon-topic-menubox">
    <img src="/images/object/6-topics/Review.png" alt="Review">Review</div>
    <div id="pet-health" class="topics-menu-box text-center col-lg-2
    {{isBoxActive container='adminNewsContainer' location='pet-health'}} icon-topic-menubox">
    <img src="/images/object/6-topics/PetHealth.png" alt="Pet Health">Pet Health</div>
  </div>
  <div class="row admin-pets-type">
    <div class="admin-catagory">
      <div class="admin-pet-text">Pets </div>
      {{#each petImgs}}
        <div id="{{label}}" class="admin-catagory-item">
          <img src="{{passiveUrl}}" name="{{label}}">
        </div>
      {{/each}}
    </div>
  </div>
  <div class="admin-post-section">
    <br>
    {{> postBlockAdmin}}
    <br>
    {{> postFeed type=adminNewsContainer col='three'}}
  </div>
</template>



<template name="adminVetItem">
  <div id="{{_id}}" class="adminVet-item-block col-lg-12">
    <img id="{{_id}}" src="{{profilePicture _id}}" class="adminVet-profile-picture img-circle" alt="">
    <div id="{{_id}}" class="adminVet-username">
      {{username}}
    </div>
    <i id="{{_id}}" class="fa fa-chevron-right fa-lg"></i>
  </div>
</template>



<template name="adminStory">
  <div class="container">
    {{> postBlockAdmin type="pet-story"}}
  </div>
</template>



<!-- AdminHighlight -->
<template name="adminHighlight">
  <div class="adminHighlight">
    <div class="admin-head">
      <span class="admin-head-text">Highlight</span>
      <div class="adminVet-search pull-right">
        <form class='form-inline'>
          <i class="fa fa-search fa-2x"></i>
          <input type="text" class="form-control">
        </form>
      </div>
    </div>
    <div class="admin-post-section">
      <br><br>
      <!-- {{> postFeed highlight=true}} -->
      {{> postFeed col='four'}}
    </div>
  </div>
</template>

<!-- AdminAds -->
<template name="adminAds">
  <div class="adminAds">
    <div class="admin-head">
      <span class="admin-head-text">Advertisment</span>
      <div class="adminVet-search pull-right">
        <form class='form-inline'>
          <i class="fa fa-search fa-2x"></i>
          <input type="text" class="form-control">
        </form>
      </div>
    </div>
    <div class="adminAds-body">
      {{> adsCreateCard}}

    {{#each getAdsCard}}
      {{> adsCard}}
    {{/each}}
    </div>
  </div>
</template>
