<template name="location">
  <div class="container-fluid withOutPaddind">
    <div class="row">
      <div id="location-left-side" class="col-lg-3 withOutPadding">
        {{> createLocation}}
      </div>
      <div id="location-right-side" class="col-lg-9 withOutPadding">
        {{#unless geolocationError}}
          {{> googleMap name="4legsMap" options=MapOptions}}
        {{else}}
          Geolocation failed: {{geolocationError}}
        {{/unless}}
      </div>
    </div>
  </div>
</template>
