<template name="addFollow">
  <div class="container-fluid">
    <div class="row">
      <div class="addfollow-header">
        <div class="addfollow-header-text">
          <h1>Follow new people</h1>
        </div>
        <div class="addfollow-header-search">
          <input id="location-search" type="text" class="form-control" placeholder=" ค้นหาชื่อสมาชิกของเรา">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row ui tree column">
        <div class="col-lg-6 addfollow-border-right">
          <div class="addfollow-group">
            <div class="addfollow-group-left col-lg-12">
              <div class="col-lg-4 addfollow-group-left-text">
                <img class="ui tiny circular image" src="/images/icon/check.png">
                <h3>test1</h3>
              </div>
              <div class="col-lg-8 addfollow-button">
                <button class="ui green button">Green</button>
              </div>
            </div>
            <div class="addfollow-group-left col-lg-12">
              <div class="col-lg-4 addfollow-group-left-text">
                <img class="ui tiny circular image" src="/images/icon/check.png">
                <h3>test2</h3>
              </div>
              <div class="col-lg-8 addfollow-button">
                <button class="ui green button">Green</button>
              </div>
            </div>
            <div class="addfollow-group-left col-lg-12">
              <div class="col-lg-4 addfollow-group-left-text">
                <img class="ui tiny circular image" src="/images/icon/check.png">
                <h3>test3</h3>
              </div>
              <div class="col-lg-8 addfollow-button">
                <button class="ui green button">Green</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="addfollow-group-right col-lg-12">
            <div class="col-lg-4 addfollow-group-right-text">
              <img class="ui tiny circular image" src="/images/icon/check.png">
              <h3>test4</h3>
            </div>
            <div class="col-lg-8 addfollow-button">
              <button class="ui green button">Green</button>
            </div>
          </div>
          <div class="addfollow-group-left col-lg-12">
            <div class="col-lg-4 addfollow-group-right-text">
              <img class="ui tiny circular image" src="/images/icon/check.png">
              <h3>test5</h3>
            </div>
            <div class="col-lg-8 addfollow-button">
              <button class="ui green button">Green</button>
            </div>
          </div>
          <div class="addfollow-group-left col-lg-12">
            <div class="col-lg-4 addfollow-group-right-text">
              <img class="ui tiny circular image" src="/images/icon/check.png">
              <h3>test6</h3>
            </div>
            <div class="col-lg-8 addfollow-button">
              <button class="ui green button">Green</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
