<template name="addFollow">
  <div class="container-fluid">
    <div class="row">
      <div class="addfollow-header">
        <div class="addfollow-header-text">
          <h1>Follow new people</h1>
        </div>
        <div class="addfollow-header-search">
          <input id="location-search" type="text" class="form-control" placeholder=" ค้นหาชื่อสมาชิกของเรา">
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="ui two stackable cards">
        {{#each followList}}
          <div class="card">
            <div class="ui two column doubling grid container group-addfollow">
              <div class="column item-addfollow">
                <div class="ui left aligned container">
                  <a href="{{pathFor 'profile' id=_id}}">
                    <img class="ui middle aligned mini avatar image" src="{{findPicture profile.image._id}}">
                    <span>{{username}}</span>
                  </a>
                </div>
              </div>
              <div class="column item-addfollow">
                <div class="ui right aligned">
                  <a href="{{pathFor 'profile' id=_id}}">
                    <button class="ui green right floated button">See profile</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
