<template name="feedback">
  <div class="container-fluid">
    <div class="row">
      <div class="feedback-header">
        <h1>Feedback us</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="ui two column grid">
          <label >ความคิดเห็น - ข้อเสนอแนะ <label class="my-color-red">*</label></label>
        <div class="ui form">
          <div class="field feedback-textarea">
            <textarea></textarea>
          </div>
          <div class="feedback-button">
            <div class="ui buttons">
              <button class="ui positive button send-feedback">Save</button>
              <div class="or"></div>
              <button class="ui button clear">Clear</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
