<template name="comment">
  <div class="ui feed">
    <div class="event">
      <a href="{{pathFor 'profile' id=commentOwnerId}}">
        <img class="ui avatar big image" src="{{profilePicture commentOwnerId}}">
        {{matchUserId info.postOwner}}
      </a>
      <div class="content">
        <div class="summary">
          <a href="{{pathFor 'profile' id=commentOwnerId}}" class="user">
            {{commentOwner}}
          </a>
          <div class="date">
            {{enhanceTime commentAt}}
          </div>
          <br>
          <p>
            {{commentBody}}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
