<template name="comment">
  <div class="row comment withPadding comment-location">
    <div class="col-lg-1">
      <img  class="profile-picture img-circle" src="{{profilePicture commentOwnerId}}" alt="">
    </div>
    <div class="col-lg-11 post-info">
      <a href="{{pathFor 'profile' id=commentOwnerId}}">
        <span class="my-color-brown">{{commentOwner}}</span>
      </a>
      <span class="duration">
        <i class="fa fa-clock-o"></i>
        {{enhanceTime commentAt}}
      </span>
    </div>
    <p>{{commentBody}}</p>
  </div>
  <br>
</template>
