<template name="postFeed">
  {{#if isNoPosts this._id}}
    <h2 class="my-color-gray text-center">Have no any posts</h2>
  {{/if}}
  <div class="ui {{numOfCol}} link stackable cards">
    {{#each posts this._id}}
      <div class="ui blue card">
        <div class="postfeed-card">
        </div>

        <div class="content">
          <a href="{{pathFor 'profile' id=info.postOwner}}">
            <img class="ui avatar big image" src="{{profilePicture info.postOwner}}">
            {{#if isVet info.postOwner}}
              <img class="vet-badge" src="/images/object/7-profile/vet.png">
            {{/if}}
            {{matchUserId info.postOwner}}
          </a>
          <div class="right floated meta right-post-feed">
            {{enhanceTime info.createdAt}}
            {{#if showPostOption _id}}
              <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="small angle down icon"></i>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a id="deletePost" data-id="{{_id}}" href="#">Delete</a>
                  </li>
                  <li>
                    {{#if isSosPost _id}}
                      <a id="helped" data-id="{{_id}}" href="#">Helped</a>
                    {{/if}}
                  </li>
                </ul>
              </div>
            {{/if}}
          </div>
        </div>
        {{#if isSos catagory}}
          {{#with isHelped this}}
            <a class="ui {{color}} right ribbon label status-ribbon">{{content}}</a>
          {{/with}}
        {{/if}}
        <p></p>
        <a href="/post/{{_id}}">
          <div class="image">
            <img src="{{findPicture img._id}}" class="thumbnail" alt="" />
          </div>
        </a>
        <div class="content">
          <span class="justify-icon">
            <div class="justify-item">
              {{> likeBtn}}
            </div>
            <div class="justify-item">
              {{> favoriteBtn}}
            </div>
            <div class="justify-item">
              {{> shareBtn}}
            </div>
          </span>
          <hr>
          <a href="/post/{{_id}}">
            <p class="font-20">
              <pre>{{{limitLength info.postBody}}}</pre>
              {{#if checkLen info.postBody}}
              <br><b>Read more</b>
              {{/if}}
            </p>
            <br>
          </a>
          <span>
            <div class="justify-item-comment">
              {{> commentBtn}}
            </div>
          </span>
        </div>
        <div id="post-{{_id}}" class="extra content">
          {{#if currentUser}}
            {{#each limitComment comments}}
             {{> comment}}
            {{/each}}
            <!--  new comment -->
              {{> newComment}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</template>
