  <template name="postBlock">
  <br>
  <div class="post-block-card">
    <div class="ui card centered">
      <div class="content">
        <div class="extra content">
          <div class="left floated author">
            <img class="ui avatar big image" src="{{profilePicture currentUser._id}}">
          </div>
          <div class="right floated">
            <i id="photo-upload" class="photo big icon"></i>
            <input type="file" name='upload' id="file" class="new-upload">
          </div>
        </div>
        {{#if currentUser.username}}
          <div class="header">{{currentUser.username}}</div>
        {{else}}
          <div class="header">{{currentUser.services.facebook.name}}</div>
        {{/if}}

        <div class="meta">
          <span class="category">4Legs Member</span>
        </div>
        <br>
        <div class="description">
          <textarea name="newStatus" id="newStatus" placeholder="แบ่งปันเรื่องราวของคุณ..." value=""></textarea>
        </div>
        <br>
        <div class="ui center aligned container">
          <div class="new-upload-preview"></div>
        </div>
        <div class="right floated">
          <button class="ui blue basic right floated medium button btn-post">Post</button>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="postBlockAdmin">
<br>
<div class="post-block-card">
  <div class="ui card centered">
    <div class="content">
      <div class="extra content">
        <div class="left floated author">
          <img class="ui avatar big image" src="{{profilePicture currentUser._id}}">
        </div>
        <div class="right floated">
          <i id="photo-upload" class="photo big icon"></i>
          <input type="file" name='upload' id="file" class="new-upload">
        </div>
      </div>
      <div class="header">{{currentUser.username}}</div>
      <div class="meta">
        <span class="category">4Legs Member</span>
      </div>
      <br>
      <div class="description new-status">
        <textarea name="newStatus" id="newStatus" placeholder="แบ่งปันเรื่องราวของคุณ..." value=""></textarea>
        <script>var editor = new MediumEditor('#newStatus');</script>
      </div>
      <br>
      <div class="ui center aligned container">
        <div class="new-upload-preview"></div>
      </div>
      <div class="right floated">
        <button class="ui blue basic right floated medium button btn-post">Post</button>
      </div>
    </div>
  </div>
</div>
</template>
