<template name="postFeed">
  {{#if isNoPosts this._id}}
    <h2 class="my-color-gray text-center">Have no any posts</h2>
  {{/if}}
  <div class="ui {{numOfCol}} link stackable cards">
    {{#each posts this._id}}
      <div class="ui blue card">
        <div class="postfeed-card">
          <!-- <i class="fa fa-minus-circle fa-lg my-btn-unfollow unfollow-btn pull-right"></i> -->
        </div>
        <div class="content">
          <div class="right floated meta">
            {{enhanceTime info.createdAt}}
          </div>
          <a href="{{pathFor 'profile' id=info.postOwner}}">
            <img class="ui avatar big image" src="{{profilePicture info.postOwner}}">
            <img class="vet-badge" src="/images/object/7-profile/vet.png">
            {{matchUserId info.postOwner}}
          </a>
        </div>
        <a href="/post/{{_id}}">
          <div class="image">
            <img src="{{findPicture img._id}}" class="thumbnail" alt="" />
          </div>
        </a>
        <div class="content">
          <span class="justify-icon">
            <div class="justify-item">
              {{> likeBtn}}
            </div>
            <div class="justify-item">
              {{> favoriteBtn}}
            </div>
            <div class="justify-item">
              {{> shareBtn}}
            </div>
          </span>
          <hr>
          <a href="/post/{{_id}}">
            <p class="font-20">
              <pre>{{{limitLength info.postBody}}}</pre>
              {{#if checkLen info.postBody}}
              <br><b>Read more</b>
              {{/if}}
            </p>
            <br>
          </a>
          <span>
            <div class="justify-item-comment">
              {{> commentBtn}}
            </div>
          </span>
        </div>
        <div id="post-{{_id}}" class="extra content">
          {{#each limitComment comments}}
           {{> comment}}
          {{/each}}
          <!--  new comment -->
          {{> newComment}}
        </div>
      </div>
    {{/each}}
  </div>
</template>
