<template name="postBlock">
  <br>
  <div class="post-block-card">
    <div class="ui card centered">
      <div class="content">
        <div class="extra content">
          <div class="left floated author">
            <img class="ui avatar big image" src="{{profilePicture currentUser._id}}">
          </div>
        </div>
        <div class="header">{{currentUser.username}}</div>
        <div class="meta">
          <span class="category">4Legs Member</span>
        </div>
        <div class="description">
          <textarea name="postblock-content" id="" placeholder="แบ่งปันเรื่องราวของคุณ..."></textarea>
        </div>
      </div>
      <div class="upload-zone">
        {{> upload_bootstrap multiple=true callbacks=postBlockUpload}}
      </div>
    </div>
  </div>
</template>
