<template name="landingPage">
  <div class="head-homepage">
    <div class="ui vertical segment ">
      <div class="ui two column grid nav-homepage">
        <div class="logo-homepage">
          <img class="logo" src="/images/object/1-login/logo-login.png" alt="">
        </div>
        <div class="button-homepage">
          <div class="button-homepage-group">
            <button class="ui orange button">Login</button>
            <button class="ui orange button">Sign up</button>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical segment">
      <div class="container">
        <div class="content-homepage">

        afg
        </div>
      </div>
    </div>
  </div>
</template>
