<template name="landingPage">
  <div class="head-landing-page">
    <div class="ui vertical segment">
      <div class="ui two column grid nav-landing-page">
        <div class="logo-landing-page">
          <img class="logo" src="/images/object/1-login/logo-login.png" alt="">
        </div>
        <div class="button-landing-page">
          <div class="button-landing-page-group">
            <button id="loginLandingPage" class="ui orange button"><h3>Login</h3></button>
            <div class="ui fluid custom popup bottomx transition hidden login-landing">
            <form class="ui form login-landing-form">
              <div class="field">
                <input type="text" name="username" placeholder="Username">
              </div>
              <div class="field">
                <input type="password" name="password" placeholder="Password">
              </div>
              <button id="loginLandingButton" class="ui orange button">Login</button>
            </form>
            </div>

              <a href="{{pathFor 'register'}}">
                <button id="btn-signUp" class="btn">
                  <i class="small paw icon"></i>
                  <h3>Sign Up</h3>
                </button>
              </a>
          
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical segment">
      <div class="container content-landing-page-group">
        <div class="content-landing-page text-center">
          <h2>สังคมอันแสนอบอุ่น <br>สำหรับคนรักสัตว์เลี้ยง</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="body-landing-page">
    <div class="container">
      <br><br>
      <h1>HIGHLIGHT</h1>
      {{> postFeed col='three' type="pop"}}

      <h1>LOCATION</h1>
      This map
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <p>
        -----------------------------------------------------------------
      </p>
    </div>
  </div>
  <div class="foot-landing-page">
    <div class="container">
      <div class="ui two column grid nav-landing-page">
        <div class="link-landing-page">
          <div class="link-landing-page-left">
            <a href="#">About</a>
            <a href="#">Location</a>
            <a href="#">Contact Us</a>
          </div>
          <div class="link-landing-page-right">
            <a href="#">Service</a>
            <a href="#">FAQ</a>
            <a href="#">How To Access</a>
          </div>
        </div>
        <div class="logo-landing-page">
          <img class="logo" src="/images/object/1-login/logo-login.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>
