<template name="landingPage">
  <div class="head-landing-page">
    <div class="ui vertical segment">
      <div class="nav-landing-page">
        <div class="logo-landing-page">
          <img class="logo" src="/images/object/1-login/logo-login.png" alt="">
        </div>
        <div class="button-landing-page">
          <div class="button-landing-page-group">
            <button id="loginLandingPage" class="ui orange button"><h3>Login</h3></button>
            <div class="ui fluid custom popup bottomx transition hidden login-landing">
            <form class="ui form login-landing-form">
              <div class="field">
                <input type="text" name="username" placeholder="Username">
              </div>
              <div class="field">
                <input type="password" name="password" placeholder="Password">
              </div>
              <div class="field forget-password">
                <a href="#">ลืมรหัสผ่าน ?</a>
              </div>
              <div class="field button-accept-login">
                <button id="loginLandingButton" class="ui orange button">Login</button>
                <div class="login-landing-facebook">{{> loginFb}}</div>
              </div>
            </form>
            </div>

              <a href="{{pathFor 'register'}}">
                <button id="btn-signUp" class="btn">
                  <i class="small paw icon"></i>
                  <h3>Sign Up</h3>
                </button>
              </a>

          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical segment">
      <div class="container content-landing-page-group">
        <div class="content-landing-page text-center">
          <h1>ยินดีต้อนรับสู่ 4 ขา</h1>
          <p>
            สังคมของคนรักสัตว์เลี้ยงที่เชื่อถือได้
            มาร่วมเป็นส่วนหนึ่งในคอมมูนิตี้ของคนรักสัตว์เลี้ยงที่เชื่อถือได้โดยสัตวแพทย์ ได้เพื่อนใหม่ ได้ความรู้ ความบันเทิง แบ่งปันความช่วยเหลือ และค้นหาบริการที่เกี่ยวข้องกับสัตว์เลี้ยงครบวงจร
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="body-landing-page">
    <div class="container">
      <br>
      <h1>HIGHLIGHT</h1>
      {{> postFeed col='three' type="pop"}}
      <br>
    <hr>
      <br>
      <h1>TOPIC</h1>
      {{> postFeed col='three' type="pop"}}
      <br>
    <hr>
      <h1>LOCATION</h1>
        {{> location}}
    </div>
  </div>
  <br><br>
  {{> footer}}
</template>
