<template name="signUp">
  <div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    Term and condition
  </div>
  <div class="content">
    <li>ผู้ที่ต้องการสมัครสมาชิก จะต้องกรอกข้อมูลที่เป็นจริงให้ครบทุกข้อเพื่อสิทธิประโยชน์ของท่าน หากตรวจสอบพบว่าท่านให้ข้อมูลเท็จ ทีมงานสี่ขามีสิทธิ์ยกเลิกการเป็นสมาชิกได้</li>
    <li>ผู้ใดแอบอ้างหรือกระทำการใดๆอันเป็นการละเมิดสิทธิ์ส่วนบุคคลโดยใช้ข้อมูลของผู้อื่นมาแอบอ้างสมัครสมาชิกเป็นความผิดต้องรับโทษตามที่กฎหมายกำหนดไว ้</li>
    <li>สมาชิกจะต้องใช้นามแฝงที่เหมาะสม ไม่หยาบคาย หรือส่อไปในทางลามกอนาจาร มิฉะนั้นทีมงานมีสิทธิ์ ยกเลิกการเป็นสมาชิกได้</li>
    <li>ผู้สมัครต้องยินยอมให้ สี่ขา ตรวจสอบความเป็นจริงของข้อมูลการสมัครหากตรวจสอบพบว่าท่านให้ข้อมูลเท็จหรือไม่ชัดเจน ทีมงานมีสิทธิ์ยกเลิกการเป็นสมาชิกได้</li>
    <li>สมาชิกต้องปฏิบัติตามกฎกติกามารยาทที่ทางสี่ขาตั้งขึ้นมาอย่างเคร่งครัด เพื่อความสงบเรียบร้อย หากท่านละเมิดทีมงานสี่ขามีสิทธิ์ยกเลิกการเป็นสมาชิกได้</li>
    <li>ข้อมูลของสมาชิกจะถูกเก็บเป็นความลับทาง สี่ขา จะไม่เปิดเผยข้อมูลของท่านก่อนได้รับอนุญาต นอกจากจะได้รับหมายศาลหรือหนังสือราชการจากหน่วยงานสานักงานตำรวจแห่งชาติ</li>
    <li>ทีมงาน สี่ขา ขอสงวนสิทธิ์ในการยกเลิกความเป็นสมาชิกได้ โดยไม่ต้องบอกกล่าวให้ทราบล่วงหน้า</li>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <a id="term-condition-button" href="{{pathFor 'register'}}"><div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div></a>
  </div>
</div>
    {{#if currentUser}}
        <!-- <button id="logout" class="btn btn-danger">Logout</button> -->
    {{else}}
        <a href="#">
          <button id="btn-signUp" class="btn pull-right">
            <i class="big paw icon"></i>
            <h3>Sign Up</h3>
          </button>
        </a>
    {{/if}}

</template>
