<template name="notifyItem">
  <a href="{{pathFor 'specPost' id=postId}}">
    <div id="{{_id}}" class="row notify-item {{isRead read}}">
        <div class="col-lg-1 notify-body withOutPadding">
          <img  class="notify-profile img-circle" src="{{profilePicture notifyFrom}}" alt="">
        </div>
        <div id="{{_id}}" class="col-lg-11 notify-body withOutPadding">
          <span class="notify-from my-color-brown">{{getUsername notifyFrom}} </span>
          <span class="notify-action"> {{takeAction action}}</span>
          <br>
          <span class="notify-duration notify-body">
            <i class="fa fa-clock-o"></i>
            {{enhanceTime createdAt}}
          </span>
        </div>
    </div>
  </a>
</template>
