<template name="footer">
  <div class="foot-landing-page">
   <div class="ui two column grid foot-landing-page">
     <div class="copyright">
       <h4 class="text-copyright">4KHA © 2016</h4>
     </div>
     <!-- <div class="link-landing-page">
       <div class="link-landing-page-left">
         <a href="#">About</a>
         <a href="#">Location</a>
         <a href="#">Contact Us</a>
       </div>
       <div class="link-landing-page-right">
         <a href="#">Service</a>
         <a href="#">FAQ</a>
         <a href="#">How To Access</a>
       </div>
     </div> -->
     <div class="logo-landing-page-foot">
       <img class="logo" src="/images/object/1-login/logo-login.png" alt="">
     </div>
   </div>
 </div>
</template>
